.footer{
    min-height: 130px;
    background-color: rgb(36, 41, 47);
    width: 100%;
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
    
    .svg-block{
        max-width: 300px;
        min-width: 300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-icon{
        cursor: pointer;
    }
}

.copirate{
    color: aliceblue;
    display: block;
    margin-top: 20px;
}

